.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.nav__logo {
  color: #fff;
  font-size: var(--font-size-large);
  font-family: var(--font-family);
  transition: var(--transition);
}

.nav__toggle,
.nav__close {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.nav__cta {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  padding: 0.75rem 1.5rem;
}

@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: var(--transition);
  }

  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}

.nav__link {
  color: #fff;
  font-weight: var(--font-semi-bold);
  transition: var(--transition);
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show-menu {
  right: 0;
}

.nav__menu_mobile {
  position: fixed;
  top: 0;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(16px);
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: var(--transition);
}

@media screen and (min-width: 1150px) {
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
}
