/* Preview.css */

.preview-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: background-color 0.3s ease;
}

.file-details {
    text-align: center;
    padding: 16px;
    background: #cce5ff;
    width: 400px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.filter-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.button,
.question-mark-button {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover,
.question-mark-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 40vh;
    width: 100%;
}

.preview-column {
    flex: 0 0 30%;
    margin: 10px;
    border-radius: 12px;
    padding: 20px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.heading {
    margin-bottom: 20px;
    color: #333333;
    font-family: 'Roboto, sans-serif';
    transition: color 0.3s ease;
}

.document-preview,
.vector-embeddings {
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    transition: gap 0.3s ease;
}

.card {
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    cursor: pointer;
    margin-left: 6px;
    margin-right: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: nowrap;
    background-color: rgb(240, 194, 57);
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-text {
    margin: 0;
    font-family: 'Roboto, sans-serif';
    color: #555;
    transition: color 0.3s ease;
}
