/* Overlay.css */

.overlay {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: transparent; /* Initial background is transparent */
}

.overlay.active {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.overlay.active.delayed-bg {
    background-color: rgba(0, 0, 0, 0.8); /* Apply background after delay */
}

.overlayContent {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.5s ease-in-out;
    transform: translateY(20px);
    opacity: 0;
}

.overlayContent.active {
    transform: translateY(0);
    opacity: 1;
}

.featuresContainer {
    display: flex;
}

.featureCard {
    display: flex;
    justify-content: flex-start;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: -webkit-center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    align-items: center;
}

.featureCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.featureIcon {
    font-size: 24px;
    margin-bottom: 10px;
}

.featureTitle {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.featureDescription {
    text-align: center;
    color: #666;
}

.navigationButtons {
    display: flex;
    align-items: center;
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    justify-content: space-between;
}

.navButton {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.fullScreenButton {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.fullScreenButton:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.closeButton {
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 4px;
    border: 1px solid #e00000;
    background-color: #e00000;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeButton:hover {
    background-color: #8d8d8d;
    transform: scale(1.05);
}
